<html>
  <head>
    <title>CanvasLite| Home </title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <script src="https://use.fontawesome.com/668689cd0f.js"></script> <!-- load fontawesome -->
    <link href="https://fonts.googleapis.com/css?family=Asar" rel="stylesheet"> <!-- load font -->
    <link href="https://fonts.googleapis.com/css?family=Arima+Madurai" rel="stylesheet">
  </head>
    <body style="overflow: hidden">
    <div id="intro-bubble" class="jumbotron col-sm-8 col-sm-offset-2 wrapper">
      <div class="text-center">
        <h1><strong>Welcome to CanvasLite</strong></h1>
        <p class="lead">A mini version of your favorite school tool.</p>
        <a href="/login" class="btn btn-lg btn-pill btn-warning"><span class="fa fa-user-circle"></span> <br> Log In Here</a>
      </div>
    </div>

	<footer>
	  <div class="copyright">
	    <p>&copy 2017 - Natasha Narang</p>
	  </div>
	  <div class="contact">
	    <a href="mailto:nnarang@seas.upenn.edu?Subject=Business%20Tools%20Platform" class="support"><span class="fa fa-envelope"></span> Contact Me</a>
	    <a href="https://www.facebook.com/natasha.narang.10" class="facebook"><span class="fa fa-facebook-square"></span> Facebook</a>
	    <a href="https://www.linkedin.com/in/natashan" class="linkedin"><span class="fa fa-linkedin-square"></span> LinkedIn</a>
	  </div>
	</footer>    
  </body>
</html>