<html>
  <head>
    <title>CanvasLite| Home </title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <script src="https://use.fontawesome.com/668689cd0f.js"></script> <!-- load fontawesome -->
    <link href="https://fonts.googleapis.com/css?family=Asar" rel="stylesheet"> <!-- load font -->
    <link href="https://fonts.googleapis.com/css?family=Arima+Madurai" rel="stylesheet">
  </head>
    <body style="overflow: hidden">
    <div id="intro-bubble" class="jumbotron col-sm-8 col-sm-offset-2 wrapper">
      <div class="text-center">
        <h1><strong>Welcome to CanvasLite</strong></h1>
        <p class="lead">A mini version of your favorite school tool.</p>
        <a href="/login" class="btn btn-lg btn-pill btn-warning"><span class="fa fa-user-circle"></span> <br> Log In Here</a>
      </div>
    </div>
  </body>
</html>