<footer>
  <div class="copyright">
    <p>&copy 2017 - Natasha Narang</p>
  </div>
  <div class="contact">
    <a href="mailto:nnarang@seas.upenn.edu?Subject=Business%20Tools%20Platform" class="support"><span class="fa fa-envelope"></span> Contact Me</a>
    <a href="https://www.facebook.com/natasha.narang.10" class="facebook"><span class="fa fa-facebook-square"></span> Facebook</a>
    <a href="https://www.linkedin.com/in/natashan" class="linkedin"><span class="fa fa-linkedin-square"></span> LinkedIn</a>
  </div>
</footer>  