<nav class="nav-banner">
  <a class="nav-btn" href="/">Home</a>
  <% if logged_in? && !admin%>
    <a class="nav-btn" href="/courses">My Courses</a>
    <a class="nav-btn" href="/assignments">Upcoming Assignments</a>
  <% end %>
  <% if logged_in? && admin%>
    <a class="nav-btn" href="/courses">All Courses</a>
    <a class="nav-btn" href="/assignments/all">All Assignments</a>
    <a class="nav-btn" href="/users">All Users</a>
  <% end %>
  <% if !logged_in? %>
  	<a class="nav-btn" href="/login">Log in</a>
  	<a class="nav-btn" href="/users/new">Sign up</a>
  <% end %>
  <% if logged_in? %>
    <%= link_to "My Profile", current_user %> |
    <%= link_to 'Log out', logout_path, :method => :delete %>
  <% end %>
  <!-- Add link to user's show page and log out button if logged in -->
  <!-- Add log out link otherwise -->
  <span class="nav-sessions">
  </span>
</nav>
